// app global css in Scss form
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterWeb;
  src: url("/src/assets/InterWeb/Inter-Regular.woff");
}
* {
  font-family: InterWeb;
}
.body--dark {
  #login {
    color: white;
  }
  #signup {
    background-color: white;
    color: black;
  }
  .swiper-button-prev::after,
  .swiper-rtl .swiper-button-next::after, .swiper-button-next::after,
  .swiper-rtl .swiper-button-prev::after{
    background-color: black

  }
}
.body--light {
  #login {
    color: black;
  }
  #signup {
    background-color: black;
    color: white;
  }
}
@layer components {
  .headings {
    @apply my-6 text-lg font-extrabold sm:ml-10 sm:text-3xl;
  }
}
